/* ! Breakpoint lists
* max-width:320px
* max-width:375px
* max-width:425px
* max-width:600px
* max-width:768px
* max-width:992px
* max-width:1024px
* max-width:1200px
* max-width:1356px
* max-width:1440px
* max-width:1700px
* max-width:1862px
* max-width:1920px
* max-width:2560px
*/

/*===============================
    Responsive Code placed Here
=================================*/

/* *********************
todo: min-width:1862px 
************************/
@media only screen and (min-width: 1862px) {
  .my__contact {
    display: block !important;
  }
}
/* *********************
todo: max-width:1862px 
************************/
@media only screen and (max-width: 1800px) {
  /* .my__swiper-slide {
    margin: 0 2.5rem !important;
  } */
  .prevBtn,
  .nextBtn {
    width: fit-content !important;
  }
}
/* *********************
todo: max-width:1862px 
************************/
@media only screen and (max-width: 1500px) {
  .nextBtn {
    right: 10px;
    width: 50px !important;
  }
  .prevBtn {
    left: 10px;
    width: 50px !important;
  }
}
/* *********************
todo: max-width:1200px 
************************/
@media only screen and (min-width: 1200px) {
  .my__bg-gradient {
    background-image: linear-gradient(to right, #111111 58.4%, #272727 42.6%);
  }
  .my__hero-content > h3 {
    font-size: 2.2rem !important;
    line-height: 2.2rem !important;
  }

  .my__hero-content > h1 {
    font-size: 5rem !important;
    line-height: 5rem !important;
  }
  .btn {
    padding: 1rem 3rem !important;
    font-size: 0.8rem !important ;
  }
  .my__banner-dishesImg {
    max-height: 600px !important;
    max-width: 600px !important;
    left: -170px;
    position: relative;
  }
  .my__hero-content {
    width: max-content !important;
    gap: 2rem;
    padding: 30px 0 0 0;
  }
  .my__hero-section .row {
    padding: 0 3.875rem;
    height: calc(100% - 6rem);
  }
  .my-hero-content-rightside {
    display: flex;
    align-items: center;
  }
  .my__bottom-leaf {
    left: 0rem;
    z-index: 1;
    bottom: 0;
    max-height: 300px;
    width: auto;
    position: absolute;
  }
  .my__bottom-leaf-2 {
    right: 6.75rem;
    z-index: 1;
    top: 14px;
    max-height: 113px;
    width: auto;
    position: absolute;
  }
  .my__shape {
    right: 50px;
    top: 0;
    max-height: 307px;
    position: absolute;
  }
}
/* *********************
todo: max-width:1356px 
************************/
@media only screen and (min-width: 1356px) and (max-width: 1440px) {
  .my__banner-dishesImg {
    max-height: 600px !important;
    max-width: 600px !important;
    left: -160px !important;
    position: relative;
  }
  .my__hero-content > h3 {
    font-size: 3rem !important;
    line-height: 2.2rem !important;
  }

  .my__hero-content > h1 {
    font-size: 6rem !important;
    line-height: 7rem !important;
  }
}

@media only screen and (max-width: 1600px) {
  .my__about-section {
    max-width: 1470px;
    margin: 120px auto 0;
    background-color: #fff;
    height: fit-content !important;
    padding: 60px 10px;
    justify-content: center;
  }
  .my__aboutImag-container {
    display: none;
  }
}

/* *********************
todo: max-width:1440px 
************************/
@media only screen and (min-width: 1441px) {
  .my__hero-content > h3 {
    font-size: 2.8rem !important;
    line-height: 2.5rem !important;
  }

  .my__hero-content > h1 {
    font-size: 7rem !important;
    line-height: 7rem !important;
  }
  .my-hero-content-leftside {
    justify-content: center;
  }
  .my__banner-dishesImg {
    max-height: 600px !important;
    max-width: 600px !important;
    left: -150px !important;
  }
}

/* *********************
todo: max-width:1700px 
************************/
@media only screen and (min-width: 1700px) {
  .my__banner-dishesImg {
    height: 900px !important;
    max-width: 900px !important;
    left: -180px !important;
    top: 10px;
  }
  .my__hero-content > h3 {
    font-size: 3.8rem !important;
    line-height: 2.5rem !important;
  }
  .my__hero-content > h1 {
    font-size: 8rem !important;
    line-height: 7rem !important;
  }
}

/* *********************
todo: max-width:1920px 
************************/
@media only screen and (min-width: 1920px) {
  .my__hero-content > h1 {
    font-size: 7rem !important;
    line-height: 8rem !important;
  }
  .my__hero-content {
    padding: 0;
  }
  .my__hero-section .row {
    padding: 0px 6.875rem;
  }
}
/* *********************
todo: max-width:2560px 
************************/
@media only screen and (min-width: 1921px) and (max-width: 2560px) {
  .my__hero-content > h3 {
    font-size: 5.8rem !important;
    line-height: 4.5rem !important;
  }
  .my__hero-content > h1 {
    font-size: 10rem !important;
    line-height: 11rem !important;
  }
  .btn {
    padding: 3rem 7rem !important;
    font-size: 1.5rem !important;
  }
  .my__bottom-leaf {
    height: 550px !important;
  }
  .my__bottom-leaf-2 {
    right: 6.75rem;
    z-index: 1;
    top: 14px;
    max-height: 157px !important;
    width: auto;
    position: absolute;
  }
  .my__banner-dishesImg {
    max-height: 1000px !important;
    max-width: 1000px !important;
    left: -231px !important;
    top: 10px;
  }
  .my__hero-section .row {
    padding: 0 13.3rem;
    height: calc(100% - 6rem);
  }
}
/* *********************
todo: max-width:1199px 
************************/
@media only screen and (max-width: 1199px) {
  .my__hero-content > h3 {
    font-size: 2.6rem !important;
    line-height: 2.6rem !important;
  }

  .my__hero-content > h1 {
    font-size: 5.5rem !important;
    line-height: 5.5rem !important;
  }
  .btn {
    padding: 1rem 3rem !important;
    font-size: 0.8rem !important ;
  }
  .my__hero-section {
    height: fit-content !important;
  }
  .my__banner-dishesImg {
    max-height: 470px !important;
    max-width: 470px !important;
  }
  .my__hero-section .row {
    padding: 0 !important;
  }
  .my-hero-content-leftside {
    align-items: flex-start !important;
    padding: 20px 0 !important;

    justify-content: center !important;
  }
  .my__hero-content {
    gap: 0.9rem;
  }
  .my-hero-content-rightside {
    background: transparent !important;
    background: url("/resources/images/background/icon-Texture.png") #ffffffe6 0
      0 / 100% 100% no-repeat !important;
    justify-content: center !important;
    height: 100% !important;
    display: flex;
    position: static !important;
  }
  .my__bg-gradient {
    background-image: linear-gradient(
      to right,
      #111111 58.4%,
      #111111 42.6%
    ) !important;
  }
  .my__about-section {
    margin: 120px 10px 0;
  }
}
/* *********************
todo: max-width:992px 
************************/
@media only screen and (max-width: 992px) {
  .my__hero-section .row {
    padding: 0 !important;
  }
}

/* *********************
todo: max-width:768px 
************************/
@media only screen and (max-width: 768px) {
  .my__navigation-lists {
    display: none;
  }
  .my__cta-leftContent img,
  .my__cta-rightContent img {
    width: 300px !important;
  }
  .my__hero-section .row {
    padding: 0 4.5rem;
  }
  .my__hero-content > h3 {
    font-size: 2rem !important;
    line-height: 2rem !important;
  }

  .my__hero-content > h1 {
    font-size: 5rem !important;
    line-height: 5rem !important;
  }
  .btn {
    padding: 1rem 2rem !important;
    font-size: 0.875rem !important ;
  }

  .my__hero-section .row {
    height: fit-content;
    gap: 0 !important;
  }
  .my-hero-content-leftside {
    align-items: flex-start !important;
    padding: 30px 0 !important;
    height: auto !important;
  }
  .my__hero-content {
    gap: 1.2rem;
  }
  .my-hero-content-rightside {
    background: transparent !important;
    background: url("/resources/images/background/icon-Texture.png") #ffffffe6 0
      0 / 100% 100% no-repeat !important;
    height: auto !important;
  }
  .bookingBtn a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
  }
  .bookingBtn {
    padding: 0em 0.6em;
    min-width: 172px;
    min-height: 50px;
    align-self: center;
  }
  /* .my__about-content {
    display: flex;
    flex-direction: column;
  } */
}

/* *********************
  todo: max-width:600px 
  ************************/
@media only screen and (max-width: 600px) {
  .my__hero-section .row {
    padding: 0;
  }
  .my__hero-content > h3 {
    font-size: 2rem;
    line-height: 1.5rem; /* 125% */
  }

  .my__hero-content > h1 {
    font-size: 6.2rem !important;
    line-height: 6.2rem !important; /* 106.098% */
  }
  .btn {
    padding: 0.8rem 1.6rem !important;
    font-size: 0.775rem !important ;
  }
  .my__cta-left,
  .my__cta-right {
    height: fit-content;
    background-position: bottom center;
    padding: 30px 0 20px;
  }
  .my__cta-leftContent .col-sm-4,
  .my__cta-leftContent .col-sm-8,
  .my__cta-rightContent .col-sm-4,
  .my__cta-rightContent .col-sm-8 {
    align-items: center !important;
  }
  .my__cta-leftContent,
  .my__cta-rightContent {
    position: relative !important;
    left: 20px;
  }
  .my__cta-leftContent img,
  .my__cta-rightContent img {
    padding: 30px 0 0;
    position: static;
  }
  .about-heading {
    font-size: 37px;
    line-height: 47px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 600px) {
  .my__cta-leftContent .col-sm-4,
  .my__cta-leftContent .col-sm-8,
  .my__cta-rightContent .col-sm-4,
  .my__cta-rightContent .col-sm-8 {
    align-items: start !important;
  }
  .my__cta-leftContent,
  .my__cta-rightContent {

    left: 21px !important;
  }
}
/* *********************
todo: max-width:576px 
************************/
@media only screen and (max-width: 576px) {
  .food-chef-content .row .col-sm-6 {
    gap: 20px !important;
    width: 252px;
    padding: 30px 0 0;
  }
  .food-chef-content .row {
    display: flex;
    justify-content: start;
    border: 0;
  }
  .food-chef-content .row > div:last-child {
    border-left: 0;
    padding-left: 0 !important;
  }

  .food-chef-content .row .col-sm-6 {
    width: 100%;
  }
  .my__about-section {
    padding: 60px 20px;
  }
  .my__cta-leftContent p,
  .my__cta-rightContent p {
    margin: 10px 0 25px;
    line-height: 25px;
  }
  .bookingBtn {
    padding: 0em 0.6em;
    min-width: 150px;
    min-height: 42px;
  }
  .bookingBtn a {
    font-size: 12px;
  }

  .my__cta-leftContent,
  .my__cta-rightContent {
    position: relative;
    left: 10px;
  }
  .my__cta-leftContent img,
  .my__cta-rightContent img {
    width: 250px !important;
  }
}
/* *********************
todo: max-width:425px 
************************/
@media only screen and (max-width: 425px) {
  .my__hero-content {
    gap: 2rem;
  }
  .about-heading {
    font-size: 35px;
    line-height: 45px;
    margin-top: 20px;
  }
  .about-description {
    font-size: 13px;
    line-height: 23px;
    margin-top: 9px;
  }
  .my__hero-content > h3 {
    font-size: 1.5rem !important;
  }

  .my__hero-content > h1 {
    font-size: 4.1rem !important;
    line-height: 4.8rem !important;
  }
  .btn {
    padding: 0.7rem 1.5rem !important;
    font-size: 0.7rem !important ;
  }
  .my__banner-dishesImg {
    max-height: 380px !important;
    width: auto !important;
  }
  .my__hero-section .row {
    height: calc(100dvh - 6.25rem) !important;
  }
  .about-heading {
    font-size: 26px;
    line-height: 33px;
    margin-top: 9px;
  }
  .about-description {
    font-size: 11px;
    line-height: 21px;
    margin-top: 9px;
  }
  .food-chef-content {
    margin-top: 0px;
  }
  .food-chef-content span {
    margin-top: 10px;
  }
}
/* *********************
todo: max-width:375px 
************************/
@media only screen and (max-width: 375px) {
  .my__hero-content > h1 {
    font-size: 4rem !important;
    line-height: 4.2rem !important;
  }
  .my__banner-dishesImg {
    max-height: 300px !important;
    width: auto !important;
  }
  .my__hero-content > h3 {
    font-size: 1.2rem !important;
  }
}

/* *********************
todo: max-width:320px 
************************/
@media only screen and (max-width: 320px) {
  .my__hero-content > h3 {
    font-size: 1rem !important;
  }
  .my__hero-content > h1 {
    font-size: 3.7rem !important;
    line-height: 4rem !important;
  }
  .my__banner-dishesImg {
    max-height: 260px !important;
    width: auto !important;
  }
  .my__hero-content > h3 {
    font-size: 1rem !important;
  }
}
