/* ! Breakpoint lists
* max-width:320px
* max-width:375px
* max-width:425px
* max-width:600px
* max-width:768px
* max-width:1024px
* max-width:1200px
* max-width:1356px
* max-width:1440px
* max-width:1700px
* max-width:1862px
* max-width:1920px
* max-width:2560px
*/

/*===============================
    Responsive Code placed Here
=================================*/

/* *********************
todo: max-width:2560px 
************************/
@media only screen and (max-width: 2560px) {
}

/* *********************
todo: max-width:1920px 
************************/
@media only screen and (max-width: 1920px) {
  .my-hero-content-rightside > .my__banner-dishesImg {
    max-height: auto;
    width: 790px !important;
    right: 150px;
    transform: scale(1);
    top: 100px;
    position: absolute;
  }
}

/* *********************
todo: max-width:1862px 
************************/
@media only screen and (min-width: 1862px) {
  .my__contact {
    display: block !important;
  }
}

/* *********************
todo: max-width:1700px 
************************/
@media only screen and (max-width: 1700px) {
}

/* *********************
todo: max-width:1440px 
************************/
@media only screen and (max-width: 1440px) {
  .my__hero-content > h3 {
    font-size: 2.5rem !important;
    line-height: 2.5rem !important;
  }

  .my__hero-content > h1 {
    font-size: 7.5rem !important;
    line-height: 7.5rem !important;
  }
  .my-hero-content-leftside {
    justify-content: center;
  }
  .my__banner-dishesImg {
    max-height: 630px !important;
    max-width: 660px !important;
    position: absolute !important;
    top: 100px !important;
    right: 40px !important;
    transform: scale(1) !important;
  }
  .my__bottom-leaf {
    left: 3.75rem;
    z-index: 1;
    height: 20.75rem !important;
  }
}
/* *********************
todo: max-width:1356px 
************************/
@media only screen and (max-width: 1356px) {
}

/* *********************
todo: max-width:1200px 
************************/
@media only screen and (max-width: 1200px) {
  .my__bg-gradient {
    background-image: linear-gradient(
      to right,
      #111111 91.6%,
      #272727 8.4%
    ) !important;
  }
}

/* *********************
todo: max-width:1024px 
************************/
@media only screen and (max-width: 1024px) {
  .my__hero-content > h3 {
    font-size: 3rem !important;
    line-height: 3rem !important; /* 125% */
  }
  .my__hero-section {
    height: fit-content !important;
  }
  .my__hero-content > h1 {
    font-size: 6.5rem !important;
    line-height: 7rem !important; /* 106.098% */
  }
  .btn {
    padding: 1.4rem 3rem !important;
    font-size: 1.2rem !important ;
  }
  .my__banner-dishesImg {
    max-height: 600px !important;
    max-width: 670px !important;
    margin: auto !important;
    position: static !important;
  }
  .my-hero-content-leftside {
    align-items: flex-start !important;
    padding: 20px 0 !important;
    height: auto !important;
    justify-content: center !important;
  }
  .my__hero-content {
    gap: 1.2rem;
  }
  .my-hero-content-rightside {
    background: transparent !important;
    background: url("/resources/images/background/icon-Texture.png") #ffffffe6 0
      0 / 100% 100% no-repeat !important;
    text-align: center !important;
    height: auto !important;
  }
}
/* *********************
todo: max-width:768px 
************************/
@media only screen and (max-width: 768px) {
  .my__navigation-lists {
    display: none;
  }

  .my__hero-content > h3 {
    font-size: 2.2rem !important;
    line-height: 2rem !important; /* 125% */
  }

  .my__hero-content > h1 {
    font-size: 5.5rem !important;
    line-height: 5.5rem !important; /* 106.098% */
  }
  .btn {
    padding: 1rem 2rem !important;
    font-size: 0.875rem !important ;
  }
  .my__banner-dishesImg {
    max-height: 400px !important;
    max-width: 420px !important;
    margin: auto !important;
  }
  .my-hero-content-leftside {
    align-items: flex-start !important;
    padding: 30px 0 !important;
    height: auto !important;
  }
  .my__hero-content {
    gap: 1.2rem;
  }
  .my-hero-content-rightside {
    background: transparent !important;
    background: url("/resources/images/background/icon-Texture.png") #ffffffe6 0
      0 / 100% 100% no-repeat !important;
    text-align: center !important;
    height: auto !important;
  }
}
/* *********************
  todo: max-width:600px 
  ************************/
@media only screen and (max-width: 600px) {
  .my__hero-section > .row {
    padding: 0;
  }
  .my__hero-content > h3 {
    font-size: 2rem;
    line-height: 1.5rem; /* 125% */
  }

  .my__hero-content > h1 {
    font-size: 6.2rem !important;
    line-height: 6.2rem !important; /* 106.098% */
  }
  .btn {
    padding: 0.8rem 1.6rem !important;
    font-size: 0.775rem !important ;
  }
}

/* *********************
todo: max-width:425px 
************************/
@media only screen and (max-width: 425px) {
  .my__hero-content > h3 {
    font-size: 1.5rem !important;
  }

  .my__hero-content > h1 {
    font-size: 5.1rem !important;
    line-height: 5.1rem !important; /* 106.098% */
  }
  .btn {
    padding: 0.7rem 1.5rem !important;
    font-size: 0.7rem !important ;
  }
}
/* *********************
todo: max-width:375px 
************************/
@media only screen and (max-width: 375px) {
  .my__banner-dishesImg {
    max-height: 400px !important;
    max-width: 370px !important;
  }
}

/* *********************
todo: max-width:320px 
************************/
@media only screen and (max-width: 320px) {
  .my__hero-content > h3 {
    font-size: 1rem !important;
  }
  .my__hero-content > h1 {
    font-size: 4rem !important;
    line-height: 4.5rem !important; /* 106.098% */
  }
  .my__banner-dishesImg {
    max-height: 270px !important;
    max-width: 280px !important;
  }
}
