/*
=================== 
  google fonts
=================== 
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
/*

/*
=================== 
  bootsrap icon
=================== 
*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/*
=================== 
   css reset
=================== 
*/
* {
  margin: 0;
  outline: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1f1f1f;
}
li {
  list-style: none;
  display: inline-block;
  color: white;
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #1f1f1f;
  position: relative;
}
button {
  border: 0;
  background-color: transparent;
}

/*
=================== 
   resued css
=================== 
*/

.my__container {
  max-width: 160rem;
  margin: 0 auto;
}
.btn {
  background-color: #c59d5f;
  text-transform: uppercase;
  display: flex;
  padding: 1.7375rem 3.725rem;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  font-size: 1.45rem !important;
  font-weight: 600;
  line-height: normal;
  border-radius: 0;
}
.btn:hover {
  background-color: #1f1f1f;
}
main {
  background: #f4efe3;
}
/*
=================== 
  custom css
=================== 
*/

/* *****************************
! ==> Header section css Here  
? *******************************/
.my__navbar {
  height: 6.25rem;
}

.my__logo {
  width: 11.6875rem;
  height: 3.75rem;
  flex-shrink: 0;
}

.my__navigation-lists > ul > li {
  font-size: 1rem;
  font-style: normal;
  line-height: 1.75rem;
  text-transform: uppercase;
}
.my__contact-division {
  width: max-content;
  height: fit-content;
}

.my__contact-division .bi-search {
  top: 0.75rem;
  bottom: 0;
  right: 1.25rem !important;
  margin: 0 auto;
}
.my__input-field {
  background-color: #111111 !important;
  font-size: 0.875rem;
  width: 20rem;
  height: 3.125rem;
  flex-shrink: 0;
}
.my__input-field::placeholder {
  color: #5c6574;
  font-size: 0.875rem;
  line-height: 1.5rem; /* 171.429% */
}
.my__cart-icon {
  padding: 0.9375rem !important;
  width: 3.125rem !important;
  height: 3.125rem !important;
  border-radius: 50%;
}
.my__badge {
  font-size: 0.5rem;
  right: 0.25rem;
  top: 0.5rem;
}
.my__contact {
  border-left: 0.0625rem solid #5c6574;
}
.my__contact-icon {
  width: 1.4375rem;
  height: 1.4375rem;
  flex-shrink: 0;
}
.my__contact .my__contact-number {
  color: #fff;
  font-family: "ZCOOL XiaoWei", sans-serif;
  font-size: 1.375rem;
  line-height: 1.75rem;
}
.my__contact-title {
  color: #8e97a6;
  font-size: 0.875rem;
  line-height: 1.5rem; /* 171.429% */
}

.my__menu-div:hover {
  background-color: #111111 !important;
  transition: 0.3s ease-in-out !important;
}
.my__menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.5rem;
  width: 1.875rem;
}
.my__menu-icon div {
  height: 0.25rem;
  background-color: #fff;
  transition: 0.4s;
}
.my__menu-icon.change .bar1 {
  transform: rotate(-45deg) translate(-0.3125rem, 0.375rem);
}

.my__menu-icon.change .bar2 {
  opacity: 0;
}

.my__menu-icon.change .bar3 {
  transform: rotate(45deg) translate(-0.3125rem, -0.375rem);
}
.my__dropdown {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -31.25rem;
  left: 0;
  width: 100%;
  color: #fff;
  background-color: #272727;
  transition: top 0.5s ease-in-out;
  padding: 1.875rem 0.625rem;
}
.my__dropdown.show {
  top: 6.25rem;
}
.my__dropdown ul li {
  padding: 1.25rem 0;
  text-align: center !important;
  justify-content: center;
}
.my__dropdown ul li:hover {
  background-color: #000;
  transition: 0.3s ease-in-out;
}

/* *******************************************
! ==> main content ==> Hero section css Here  
? ********************************************/
.my__hero-section {
  height: calc(100dvh - 6.25rem);
}
.my__hero-section .row {
  padding: 0 3.875rem;
  height: fit-content;
}
.my__bg-gradient {
  background-image: linear-gradient(
    to right,
    #111111 58.4%,
    #272727 42.6%
  ) !important;
}
.my-hero-content-leftside {
  justify-content: center;
  background: url("/resources/images/background/icon-Texture.png") #ffffffe6 0 0 /
    100% 100% no-repeat !important;
}
.swiper-slide {
  width: 100%;
}
.swiper-pagination-bullet {
  width: 3.125rem;
  height: 3.125rem;
  text-align: center;
  line-height: 1.25rem;
  font-size: 0.75rem;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  border: 0.125rem solid #fff;
}
.my__hero-content {
  width: max-content !important;
  gap: 3.125rem;
}
.my__hero-content > h3 {
  color: #c59d5f;
  font-family: "Great Vibes", cursive;
  font-size: 4.5rem !important;
  position: relative;
  line-height: 3.125rem;
  text-transform: capitalize;
}
.my__hero-content > h3::before {
  content: "";
  position: absolute;
  left: -5.625rem;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 5rem;
  height: 0.0625rem;
  background-color: #c59d5f;
}
.my__hero-content > h3::after {
  content: "";
  position: absolute;
  right: -5.625rem;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 5rem;
  height: 0.0625rem;
  background-color: #c59d5f;
}

.my__hero-content > h1 {
  color: #1f1f1f;
  text-align: center;
  font-family: "ZCOOL XiaoWei", sans-serif;
  font-size: 10.25rem;
  line-height: 10.875rem;
  text-transform: capitalize;
  max-width: 50rem;
}
.my-hero-content-rightside {
  background: #c59d5f !important;
}

.my__navigation {
  padding: 1.0625rem 0 0;
}
.my__navigation img {
  height: 4.0625rem;
  width: auto;
}

/* *****************************
! ==> Swiper slider section css Here  
? *******************************/
.my__swiper-slide {
  height: 25.4375rem;
  max-width: 100rem !important;
  padding: 0 3rem;
  margin: 0 auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.my__slides {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.5s ease-in-out;
  gap: 1.875rem;
  padding: 0 0.2rem;
  height: 20rem;
}

.my__slide {
  box-sizing: border-box;
  text-align: center;
  position: relative;
  width: 11.875rem;
  height: 9.375rem;
  flex-shrink: 0;
  border-radius: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.6875rem;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}
.my__silde-title {
  color: #1f1f1f !important;
  text-align: center;
  font-family: "ZCOOL XiaoWei";
  font-size: 1.375rem;
  line-height: 1.75rem;
  text-transform: capitalize;
  padding-bottom: 3.75rem !important;
  position: relative;
  top: -0.9375rem;
}
.my__slide img {
  /* position: relative;
  top: -1.875rem; */
  height: 7.375rem;
  width: auto;
  filter: drop-shadow(0.0625rem 1.0625rem 0.625rem #bcaeae);
}
.my__swiper-slide > .nextBtn {
  right: -3.125rem;
  z-index: 1;
  width: auto;
}
.my__swiper-slide > .prevBtn {
  left: -3.125rem;
  z-index: 1;
  width: auto;
}

/* **********************************
? ==> CTA section css Here  
* ********************************/
.my__cta-section {
  max-width: 91.875rem !important;
  margin: 0 auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  margin-bottom: 1.25rem !important;
}

.my__cta-left,
.my__cta-right {
  width: 100%;
  max-width: 39.375rem;
  height: 21.8125rem;
  overflow: hidden;
  flex-shrink: 0;
  background: url("/resources/images/bg-fire.png") #111 no-repeat center;
}
.my__cta-leftContent,
.my__cta-rightContent {
  height: 100%;
  position: relative;
  left: 2.5rem;
}
.my__cta-leftContent h3,
.my__cta-rightContent h3 {
  color: #c59d5f;
  font-family: "ZCOOL XiaoWei";
  font-size: 1.875rem;
  line-height: 2.5rem;
}
.my__cta-leftContent h2,
.my__cta-rightContent h2 {
  font-family: "ZCOOL XiaoWei";
  font-size: 2.25rem;
  line-height: 2.5rem;
  width: max-content;
}
.my__cta-leftContent p,
.my__cta-rightContent p {
  color: #c59d5f;
  margin: 1.875rem 0 2.5rem;
  font-family: "ZCOOL XiaoWei";
  font-size: 1.25rem;
  line-height: 1.875rem; /* 150% */
  text-transform: capitalize;
}
.my__cta-leftContent .my__ctaBtn,
.my__cta-rightContent .my__ctaBtn {
  height: auto;
  padding: 1.125rem 1.875rem !important;
  color: #fff;
  font-family: "Open Sans";
  font-size: 0.875rem !important;
  font-weight: 600;
  line-height: normal;
  display: inline-flex;
}
.my__cta-leftContent img,
.my__cta-rightContent img {
  position: relative;
  margin: 0 auto;
  padding-top: 0.625rem;
  width: auto;
  position: relative;
  right: 2.125rem;
}
.my__cta-rightContent img {
  right: 1.5rem !important;
  height: auto;
  width: 20.8125rem;
  transform: scale(1.3);
}
/* **********************************
? ==> about section css Here  
* ********************************/
.my__about-section {
  max-width: 107.5rem;
  margin: 7.5rem auto 0;
  background-color: #fff;
  height: 45.5625rem;
}
.my__aboutImag-container {
  display: flex;
  justify-content: center;
  position: relative;
  left: 11.25rem;
}
.reactangle {
  height: 100%;
  width: 16.25rem;
  background-color: #c59d5f;
  position: relative;
}
.circle {
  height: 39.25rem;
  width: 39.25rem;
  border-radius: 50%;
  background-color: #c59d5f;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: -10.625rem;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dishes {
  height: 35.5rem;
  width: 35.5rem;
  position: absolute;
  z-index: 4;
  top: 0;
  bottom: 0;
  left: -8.75rem;
  right: 0;
  margin: auto;
}
.vegeImage {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: -35rem;
  right: 0;
  margin: auto;
}
.my__about-content {
  width: 33.125rem;
}
.my__about-content > .leaf-1 {
  top: -1.25rem;
  right: -6.25rem;
  width: 8.4375rem;
  height: 5.625rem;
}
.my__about-content > .leaf-2 {
  bottom: -1.25rem;
  right: -6.25rem;
  width: 8.4375rem;
  height: 5.625rem;
}
.about-title {
  color: #c59d5f;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;
}
.about-heading {
  color: #1f1f1f;
  font-family: "ZCOOL XiaoWei";
  font-size: 3rem;
  line-height: 3.625rem;
  text-transform: capitalize;
  margin-top: 1.875rem;
}
.about-description {
  color: #5c6574;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-top: 2.5rem;
  max-width: 32.5rem;
}
.food-chef-content {
  margin-top: 2.5rem;
  width: 100%;
}
.food-icon,
.chef-icon {
  height: 3.125rem;
  width: 3.125rem;
}
.food-chef-content .row {
  width: 100%;
  gap: 1.25rem !important;
  border-top: 0.0625rem solid #e0e0e0;
}

.food-chef-content h4 {
  color: #1f1f1f;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25rem;
  text-transform: capitalize;
}
.food-chef-content span {
  color: #5c6574;
  font-size: 0.875rem;
  line-height: 1.5rem;
  display: block;
  margin-top: 1.25rem;
}
.food-chef-content .row .col-sm-6 {
  gap: 1.25rem !important;
  width: 15.75rem;
  padding: 1.875rem 0 0;
}
.food-chef-content .row > div:last-child {
  border-left: 0.0625rem solid #e0e0e0;
  padding-left: 1.25rem !important;
}
.food-chef-content .row .col-6 div {
  display: grid;
  gap: 1.25rem;
}

.bookingBtn {
  border: 0rem solid #000;
  margin-top: 2.5rem;
  padding: 1em 2em;
  min-width: 11.9375rem;
  min-height: 3.5rem;
  background: none;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  box-shadow: inset -0.125rem 0.0625rem 0.6875rem rgba(0, 0, 0, 0.5);
}

a {
  color: #000;
  text-decoration: none;
  font-size: large;
  text-transform: uppercase;
}

.bookingBtn svg {
  position: absolute;
  inset: 0;
  fill: none;
  stroke: #000;
  stroke-width: 0.3125rem;
  stroke-dasharray: 33 297;
  stroke-dashoffset: 50;
  transition: all 0.5s linear;
}

.bookingBtn:hover {
  background-color: #c59d5f;
  box-shadow: none;
}

.bookingBtn:hover svg {
  stroke-width: 0.1875rem;
  stroke-dashoffset: -500;
}

.bookingBtn:active {
  transform: scale(1.001);
  background-color: #a4814d;
}
/* Animation css Placed Here */
.animation {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: scale(1);
  opacity: 1;
}
.hidden {
  transform: scale(0.9);
  opacity: 0;
}
